body{
    margin: auto;
}

input{
    margin: auto;
}

a{
    margin-top: 5px;
    padding: 5px; 
    text-decoration: none;    
    border-radius: 5px;
}

.bgfundo{
    background-color: black;
}

.foto{
    border-radius: 100px;
    align-items: center;
    text-align: right;
}
